@import url('https://rsms.me/inter/inter.css');
    html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

body{
    margin: 0;
    font-weight: 400;
}
input[type="file"]{
    display: none;
}
h1{
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
img{
    display: block;
    margin: 0 auto;
    height: 8vmin;
    width: 8vmin;
}
p{
    margin-top: 0;
    margin-bottom: 0.8rem;
}
.file-upload{
    cursor: pointer;
    color: white;
    background-color: rgb(46, 133, 255);
    border-radius: 25px;
    padding: 15px 30px;
    border: none;
    align-items: center;
}
.file-upload:hover{
    background-color: rgb(34, 99, 190);
    color: white;
    box-shadow: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.arrow{
    height: 2vmin;
    width: 2vmin;
    margin-left: 5px;
    transition: all 0.3s ease-out;
}
.file-upload:hover .arrow{
    transform: translateX(5px);
    transition: all 0.3s ease-in;
}
.btn{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
.hidden{
    display: none;
}
.box{
    background-color: rgb(255, 255, 255);
    width: 80%;
    position:absolute;
    top:50%;
    left:50%;
    padding:20px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 10px;
    -webkit-box-shadow: -10px 10px 50px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -10px 10px 50px 0px rgba(0,0,0,0.2);
    box-shadow: -10px 10px 50px 0px rgba(0,0,0,0.2);
}
.desc-box{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
    border-radius: 15px;
    margin: 15px;
    padding: 20px 30px;
}
.progress-bar{
    background-color: rgb(46, 133, 255);
    height: 6px;
    width: 45%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 0px 0px 0px 10px;
    transition: all 0.5s ease;
}
.height{
    height: 100vh;
}
.text-center{
    text-align: center;
}
.background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('img/cool-background.svg');
}
#link{
    color: rgb(29, 88, 172);
    text-decoration: underline;
}
#qrcode{
    text-align: center;
    position: static;
}
#qrcode > img{
    height: auto;
    width: auto;
}
.footer{
    padding: 10px;
    width: 100%;
}
hr{
    width: 90%;
    height: 2px;
    background-color: black;
}
.spinner{
    margin: 10px auto 0;
    width: 70px;
    text-align: center;
}
.spinner > div {
    width: 10px;
    height: 10px;
    background-color: rgb(46, 133, 255);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.toast{
    position: absolute;
    bottom: 20px;
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
}