@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;700;800&family=Fragment+Mono&display=swap");

html {
  font-family: "Figtree", sans-serif !important;
}

html,
body,
div#app {
  @apply h-full;
  @apply font-medium;
  scroll-behavior: smooth;
}

#main::before {
  @apply absolute h-screen w-full top-0 left-0 -z-50;
  @apply bg-cover bg-no-repeat;
  background-image: url("assets/cool-background.svg");
  background-position: 40%;
  content: "";
}

button:focus-visible,
a:focus-visible {
  @apply outline outline-2 outline-blue-800 outline-offset-2;
}
a {
  @apply rounded;
}

.mono {
  font-family: "Fragment Mono", monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
